/* @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap'); */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1D9E75;
    --color-secondary: #E1F5EE;
    --color-text-dark: #085041;
    --color-border: #B4B2A9;
    --text-logo: 25px;
    --text-heading: 20px;
    --text-h1: 14px;
    --text-h2: 13px;
    --text-h3: 12px;
    --text-h4: 11px;
    --text-h5: 10px;
    --text-h6: 9px;
}